/*
    You can add your own custom styles here.
*/

@font-face {
    font-family:"LXGWWenKaiLite-Regular" ;
    src: url("static/fonts/LXGWWenKaiLite-Regular.ttf") format("truetype");

}

.post-content{
    font-family: "LXGWWenKaiLite-Regular.ttf",serif;
}